// _liveStudent.scss
@import './variables';

.live-student {
  width: 14rem;
  margin: 20px 5px;
  border: none;
  background-color: $favColor;
}

.live-student .card-body {
  padding: 0;
}

.live-student img {
  width: 100%;
  border-radius: 10%;
}
