@import './variables';

.shark-tank-container {
  background-color: $favColor;
}

.shark-tank-container img.header-fin-left {
  height: 4rem;
  float: left;
  margin-left: 20%;
}

.shark-tank-container img.header-fin-right {
  height: 4rem;
  float: right;
  margin-right: 20%;
}

h1.shark-tank-title {
  display: inline-block;
}

@media ( max-width: 1120px ) {
  .shark-tank-container img.header-fin-left {
    margin-left: 10%;
  }
  .shark-tank-container img.header-fin-right {
    margin-right: 10%;
  }
}
@media ( max-width: 580px) {
  .shark-tank-container img.header-fin-left {
    display: none;
  }
  .shark-tank-container img.header-fin-right {
    display: none;
  }
}

div.shark-tank {
  margin: 40px 80px;
}
